.app_navbar{

    width:100%;
    display:flex;
    border: 2px solid black;
    justify-content: space-between;
    align-items:center;
    background: var(--color-black);
    padding: 1rem  2rem;
}

.app_navbar-logo{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.app_navbar-logo img{
 width:200px;
}

.app_navbar_links{

    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color:white;
}
.app_navbar_links  li {

 margin: 0 1rem;
 cursor: pointer;

}